.area-search {
	display: flex;
	width: 100%;
	border-radius: 30px;
	position: relative;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--hacker-red);
	font-size: 1rem;
	background: transparent;
}

.arrow-left {
	background: url(../../img/arrow-left.png) no-repeat;
	background-position: center;
	position: absolute;
	left: 20px;
	height: 100%;
	width: 1.33rem;
	background-size: contain;
	border: 0px;
	margin: 5px auto;
	padding: 2px;
	align-self: center;
}

.input-placeholder {
	width: 100%;
	font-size: 1.1rem;
	background: transparent;
	border-radius: 30px;
	margin: 0;
	border: 0px solid transparent;
	padding: 15px;
	text-align: center;
}

.input-placeholder::placeholder {
	color: var(--hacker-blue);
	font-weight: bolder;
	font-size: 1.2rem;
	font-family: libre franklin;
	line-height: 23.33px;
}

.btn-search {
	position: absolute;
	right: 20px;
	height: 100%;
	width: 1.33rem;
	background: url(../../img/simb-search.png) no-repeat;
	background-position: center;
	background-size: contain;
	border: 0px;
	margin: 5px auto;
	padding: 2px;
	align-self: center;
}

.card-member {
	display: flex;
	border: 1px solid var(--hacker-red);
	border-radius: 10px;
	width: 90%;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
}

.member__img {
	margin:  0 5px;
}

.wraper__apresentation-member{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 10px;
	width: 100%;
}

.apresentation-member{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	box-sizing: content-box;
}

.apresentention-member__desc-data{
	font-size: 1rem;
	margin-top: 7px;
	color: var(--hacker-blue);
}

.apresentention-member__desc-data > p{
	margin: 3px 0;
}

.card__list-contact{
	display: flex;
	margin-top: 10px;
	gap: 10px;
}

.contact-member{
}

.contact-member > a {
	width: 20px;
	height: 20px;}

.contact-member__img{
	width: 100%;
	height: 100%;
}