.card__title {
	font-weight: 700;
	font-size: 20px;
	color: var(--hacker-blue);
}

.card__title--red {
	font-weight: 700;
	font-size: 24px;
	color: var(--hacker-red);
}

.card__title--sub-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: flex-start;
	gap: .1875rem;
}